<%- include('partials/header'); -%>
<section id="aboutContent">
    <h1 class="text-center mb-3">About Us</h1>
    <div class="row">
        <div class="col-lg-6">
            <img src="https://images.unsplash.com/photo-1501747315-124a0eaca060?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="about us image" class="img-thumbnail">
        </div>
        <div class="col-lg-6">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit architecto consequatur eveniet a. Laboriosam quibusdam illo maiores tempora iusto numquam debitis corporis praesentium ut? Eligendi sed non ducimus necessitatibus cum!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas velit ea commodi beatae temporibus, suscipit illo quibusdam dolor tempora eligendi minima pariatur, cupiditate itaque maxime quasi molestiae consectetur optio non?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto deleniti aliquid quis qui modi dolorum voluptas sed dolor quam nulla placeat saepe veritatis earum rerum labore, quaerat temporibus dolore doloremque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore esse, minus atque nihil laborum facilis iste sunt dignissimos eveniet maiores cum unde quia voluptatum nulla, recusandae mollitia quo! Voluptate, ut?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta aliquid eligendi itaque corrupti iste facilis
            </p>
        </div>
    </div>

</section>
<%- include('partials/footer'); -%>
