<%- include('partials/header'); -%>

<section id="urlRequest">
    <div class="container" id="urlPost">
        <h1 class="mt-3 mb-3"><%= title%></h1>
        <p><%= newPost%></p>
    </div>
</section>
<div id="foot">
    <%- include('partials/footer'); -%>
</div>
